<!DOCTYPE html>
<html>
<head>
  <title>BRANCH 003</title>

  <link rel="stylesheet" type="text/css" href="css/table.css">
</head>
<body>
  <div class="container">
    <h1 style="font-family: 'Montserrat', sans-serif;">DATA FOR BRANCH 003</h1>
    <hr>
    <hr>
    <table>
      <tr>
        <th>PRODUCT ID</th>
        <th>UNITS REMAINING</th>
      </tr>
      <% data.forEach((item) => { %>
        <tr>
        
          <td><%= item.Product_id %></td>
          <td><%= item.Units %></td>
        </tr>
        <% }) %>
    </table>
  </div>
</body>
</html>
